<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>AdventMatch ADMIN - USERS</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/AdventMatch-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'USERS' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <div class="content-header">
            <h5 class="mg-b-0 text-primary">
                <a href="/users/active">Users</a>               
            </h5>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <div class="p-3 d-flex flex-column">
                        <span class="font-weight-bold">{{ username | safe }}</span>                        
                        <a class="" href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                                    data-feather="log-out"></i><span>Logout</span></a>
                    </div>                                            
                    <h3 class="p-3 mt-2 font-weight-bold"><a href="/user/config"><i class="fas fa-cog"></i></a></h>
                </div>
            </div>
        </div>

        <div class="contents-body">
            <div class="mg-b-100">
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/users/active" class="btn pd-x-30 btn-white"><i class="fas fa-user mg-r-5"></i>Aktif</a>
                        <a href="#" class="btn pd-x-30 btn-primary text-white"><i class="fas fa-user-slash mg-r-5"></i>Tidak Aktif</a>        
                    </div>
                </div>

                <div class="mg-t-60">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="font-weight-bold">Daftar <span class="text-success">Users</span></h1>
                        
                        {% if role_position in ["SYSADMIN", "ADMIN"] %}
                            <a href="/users/tambah_user_form?redirect=/users/active" class="btn btn-sm pd-x-15 btn-primary btn-uppercase shadow-custom"><i
                                class="fas fa-plus-square mg-r-5"></i> Tambah</a>
                        {% endif %}
                    </div>
                    <hr class="mg-t-0">
                    <form action="/users/inactive" method="GET" class="mg-t-30">
                        <fieldset class="">
                            <div class="d-flex flex-wrap">
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Entries/page:</label>
                                    <br>
                                    <select name="entry" id="" class="custom-select W(80px)">
                                        {% for entry_item in entry_list%}
                                            {% if entry|string == entry_item.misc %}
                                                <option value="{{ entry_item.misc }}" selected>{{ entry_item.misc }}</option>
                                            {% else %}
                                                <option value="{{ entry_item.misc }}">{{ entry_item.misc }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Sort By:</label>
                                    <select name="sort_by" id="" class="custom-select ">
                                        {% for sort_by_item in sort_by_list%}
                                            {% if sort_by == sort_by_item.value %}
                                                <option value="{{ sort_by_item.value }}" selected>{{ sort_by_item.name }}</option>
                                            {% else %}
                                                <option value="{{ sort_by_item.value }}">{{ sort_by_item.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Order By:</label>
                                    <select name="order_by" id="" class="custom-select ">
                                        {% if order_by == "asc" %}
                                            <option value="asc" selected>Ascending</option>
                                            <option value="desc">Descending</option>
                                        {% else %}
                                            <option value="asc">Ascending</option>
                                            <option value="desc" selected>Descending</option>
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Keyword</label>
                                    <input id="keyword" name="keyword" value="{{ keyword }}" type="text" class="form-control ">
                                </div>


                    
                                <div class="form-group d-flex mg-t-auto">
                                    <button class="btn btn-info shadow-custom mg-r-8">Submit</button>
                                    <a href="/users/inactive" id="reset" class="btn btn-danger shadow-custom" style="color: white;">Reset</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    
                    <div class="Ovy(a)--sm">
                        <table class="table table-striped">
                            <thead class="thead-primary">
                                <tr>
                                    <th width="10%">Tanggal Daftar</th>
                                    <th width="20%">Username / ID</th>
                                    <th width="20%">Nama Lengkap</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for users_item in user_list %}
                                    <tr>
                                        <td>{{ users_item.rec_timestamp_str }}</td>
                                        <td>{{ users_item.username }}</td>
                                        <td>{{ users_item.name }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-success pd-y-3 dropdown-toggle" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </button>
                                                
                                                <form action="/users/toggle_status" method="POST" id="activate_user">
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="fk_edit_user_id" value="{{ users_item.pkey }}">
                                                    <input type="hidden" name="username" value="{{ users_item.username }}">
                                                    <input type="hidden" name="redirect" value="/users/active">
                                                    <input type="hidden" name="status" value="ACTIVE">
                                                </form>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <button type="submit" form="activate_user" class="dropdown-item text-primary"><i class="far fa-check-circle"></i> Activate</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    
                                {% endfor %}
                                
                            </tbody>
                        </table>

                    </div>
                    <div class="">
                    
                        <div class="d-flex justify-content-end align-items-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mg-b-0">
                                    <li class="page-item {{ prev_button.type }}">
                                        <a class="page-link" href="{{ prev_button.url }}" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item {{ prev_button.type }}"><a class="page-link"
                                            href="{{ prev_button.url }}">{{ prev_button.page }}</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                    <li class="page-item {{ next_button.type }}"><a class="page-link"
                                            href="{{ next_button.url }}">{{ next_button.page }}</a>
                                    </li>
                                    <li class="page-item {{ next_button.type }}">
                                        <a class="page-link" href="{{ next_button.url }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                            <form method="GET" action="/users/inactive">
                                <input type="hidden" name="order_by" value="{{ order_by }}">
                                <input type="hidden" name="keyword" value="{{ keyword }}">
                                <input type="hidden" name="entry" value="{{ entry }}">
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">

                    
                                <div class="input-group reset mg-l-15">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Jump to page</span>
                                    </div>
                                    <div class="W(70px)">
                                        <select name="page" id="pageSearch" class="custom-select">
                                            <option selected type="hidden" disabled></option>
                                            {% for idx in range(1, block_count + 1)%}
                                            <option value="{{ idx }}">{{ idx }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="input-group-text bg-primary text-white" type="submit">Go</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="text-center mg-t-auto font-weight-bold">#AdventMatchsekarang</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });

        $(document).ready(function () {

            $('#pageSearch').select2({
                width: '100%',
                placeholder: 'Find'
            });
            //adding placeholder on the select search
            $('#pageSearch').one('select2:open', function (e) {
                $('input.select2-search__field').prop('placeholder', 'page');
            });

        });


 
    </script>

</body>
{% endautoescape %}

</html>