<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>TrainingTracker ADMIN - USERS</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/trainingtracker-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'USERS' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <!-- Navbar Top -->
		<div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb align-items-center">
    
                <li class="breadcrumb-item active" aria-current="page">Users</li>
                </ol>
            </nav>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">			
                    <div class="text-success font-weight-bold mr-3" id="balance"></div>
                </div>
                <div class="dropdown">
                <span class="font-weight-bold text-dark">{{ username | safe }}</span>
                <a class="dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% if user_rec.role == 'TRAINEE' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-user-graduate"></i> You're in Trainee Portal
                    </div>
                    {% elif user_rec.role == 'TRAINER' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> You're in Trainer Portal
                    </div>
                    {% elif user_rec.role == 'ADMIN' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> WELCOME BOSS
                    </div>				
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Profile</a>
                    {% if user_rec.register_teacher == 'FALSE' %}
                    <a class="dropdown-item" href="/profile"><i class="fas fa-chalkboard-teacher"></i> Become a Trainer</a>
                    {% endif %}
                    {% if user_rec.role == 'TRAINEE' and user_rec.register_teacher == 'TRUE' %}
                    <a class="dropdown-item" href="/profile/change_portal/trainer"><i class="fas fa-chalkboard"></i> Trainer Portal</a>
                    {% endif %}
                    {% if user_rec.role == 'TRAINER' %}
                    <a class="dropdown-item" href="/profile/change_portal/trainee"><i class="fas fa-user-graduate"></i> Trainee Portal</a>
                    {% endif %}
                    <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                </div>
                </div>
            </div>
            </div>

        <div class="contents-body">
            <div class="">              

                <div class="">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="">Users</h1>
                        
                        <!-- {% if role_position in ["SYSADMIN", "ADMIN"] %}
                            <a href="/users/tambah_user_form?redirect=/users/active" class="btn btn-sm pd-x-15 btn-primary btn-uppercase shadow-custom"><i
                                class="fas fa-plus-square mg-r-5"></i> Tambah</a>
                        {% endif %} -->
                    </div>
                    <hr class="mg-t-0">
                    <form action="/users/active" method="GET" class="mg-t-30">
                        <fieldset class="">
                            <div class="d-flex flex-wrap">
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Entries/page:</label>
                                    <br>
                                    <select name="entry" id="" class="custom-select W(80px)">
                                        {% for entry_item in entry_list%}
                                            {% if entry|string == entry_item.misc %}
                                                <option value="{{ entry_item.misc }}" selected>{{ entry_item.misc }}</option>
                                            {% else %}
                                                <option value="{{ entry_item.misc }}">{{ entry_item.misc }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Sort By:</label>
                                    <select name="sort_by" id="" class="custom-select ">
                                        {% for sort_by_item in sort_by_list%}
                                            {% if sort_by == sort_by_item.value %}
                                                <option value="{{ sort_by_item.value }}" selected>{{ sort_by_item.name }}</option>
                                            {% else %}
                                                <option value="{{ sort_by_item.value }}">{{ sort_by_item.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Order By:</label>
                                    <select name="order_by" id="" class="custom-select ">
                                        {% if order_by == "asc" %}
                                            <option value="asc" selected>Ascending</option>
                                            <option value="desc">Descending</option>
                                        {% else %}
                                            <option value="asc">Ascending</option>
                                            <option value="desc" selected>Descending</option>
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="form-group mg-t-8 mg-r-8">
                                    <label for="">Keyword</label>
                                    <input id="keyword" name="keyword" value="{{ keyword }}" type="text" class="form-control ">
                                </div>


                    
                                <div class="form-group d-flex mg-t-auto">
                                    <button class="btn btn-info shadow-custom mg-r-8">Submit</button>
                                    <a href="/users/active" id="reset" class="btn btn-danger shadow-custom" style="color: white;">Reset</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    
                    <div class="Ovy(a)--sm">
                        <table class="table table-striped">
                            <thead class="thead-primary">
                                <tr>
                                    <th width="10%">Tanggal Daftar</th>
                                    <th width="10%">Username</th>
                                    <th width="20%">Email (status verification)</th>
                                    <th width="20%">Nama Lengkap</th>
                                    <th width="10%">Current Role</th>                                    
                                    <th width="10%">trainer?</th>
                                    <th width="10%">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for users_item in user_list %}
                                    <tr>
                                        <td>  <span class="badge badge-info">{{ users_item.rec_timestamp_str }}</span></td>
                                        <td>{{ users_item.username }}</td>
                                        <td>
                                            {{ users_item.email }}
                                            {% if users_item.ver_email == "TRUE" %}
                                                <span class="badge badge-success">Verified</span>
                                            {% else %}
                                                <span class="badge badge-danger">Unverified</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ users_item.name }}</td>
                                        <td>
                                            {% if users_item.role == "TRAINER" %}
                                            <span class="badge badge-warning">Trainer</span>
                                            {% elif users_item.role == "ADMIN" %}
                                                <span class="badge badge-danger">Admin</span>
                                            {% elif users_item.role == "TRAINEE" %}
                                                <span class="badge badge-success">Trainee</span>
                                            {% endif %}
                                        </td>                                        
                                        <td>
                                            {% if users_item.register_teacher == "TRUE" %}
                                            <span class="badge badge-success">True</span>
                                            {% else %}
                                                <span class="badge badge-secondary">False</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <img style="width: 20px;" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTIgMTYuNDk1YzEuMjQyIDAgMi4yNSAxLjAwOCAyLjI1IDIuMjVzLTEuMDA4IDIuMjUtMi4yNSAyLjI1LTIuMjUtMS4wMDgtMi4yNS0yLjI1IDEuMDA4LTIuMjUgMi4yNS0yLjI1em0wLTYuNzVjMS4yNDIgMCAyLjI1IDEuMDA4IDIuMjUgMi4yNXMtMS4wMDggMi4yNS0yLjI1IDIuMjUtMi4yNS0xLjAwOC0yLjI1LTIuMjUgMS4wMDgtMi4yNSAyLjI1LTIuMjV6bTAtNi43NWMxLjI0MiAwIDIuMjUgMS4wMDggMi4yNSAyLjI1cy0xLjAwOCAyLjI1LTIuMjUgMi4yNS0yLjI1LTEuMDA4LTIuMjUtMi4yNSAxLjAwOC0yLjI1IDIuMjUtMi4yNXoiLz48L3N2Zz4=">
                                                <!-- <button class="btn btn-success pd-y-3 dropdown-toggle" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </button> -->
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item text-primary"
                                                        href="/users/edit_users_form?fk_edit_user_id={{ users_item.pkey }}&redirect=/users/active"><i
                                                            class="far fa-edit"></i> Edit Details</a>
                                                    <a class="dropdown-item text-primary"
                                                        href="/users/change_password_form?fk_edit_user_id={{ users_item.pkey }}&redirect=/users/active?&username={{ users_item.username }}"><i
                                                            class="far fa-edit"></i> Change Password</a>

                                                        <form action="/users/toggle_status" method="POST" id="deactivate_user">
                                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                                            <input type="hidden" name="fk_edit_user_id" value="{{ users_item.pkey }}">
                                                            <input type="hidden" name="redirect" value="/users/active">
                                                            <input type="hidden" name="status" value="INACTIVE">
                                                        </form>

                                                    <button type="submit" form="deactivate_user" class="dropdown-item text-primary"><i class="far fa-times-circle"></i> Deactivate</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    
                                {% endfor %}
                                
                            </tbody>
                        </table>

                    </div>
                    <div class="">
                    
                        <div class="d-flex justify-content-end align-items-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mg-b-0">
                                    <li class="page-item {{ prev_button.type }}">
                                        <a class="page-link" href="{{ prev_button.url }}" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item {{ prev_button.type }}"><a class="page-link"
                                            href="{{ prev_button.url }}">{{ prev_button.page }}</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                                    <li class="page-item {{ next_button.type }}"><a class="page-link"
                                            href="{{ next_button.url }}">{{ next_button.page }}</a>
                                    </li>
                                    <li class="page-item {{ next_button.type }}">
                                        <a class="page-link" href="{{ next_button.url }}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                            <form method="GET" action="/users/active">
                                <input type="hidden" name="order_by" value="{{ order_by }}">
                                <input type="hidden" name="keyword" value="{{ keyword }}">
                                <input type="hidden" name="entry" value="{{ entry }}">
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">

                    
                                <div class="input-group reset mg-l-15">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Jump to page</span>
                                    </div>
                                    <div class="W(70px)">
                                        <select name="page" id="pageSearch" class="custom-select">
                                            <option selected type="hidden" disabled></option>
                                            {% for idx in range(1, block_count + 1)%}
                                            <option value="{{ idx }}">{{ idx }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="input-group-text bg-primary text-white" type="submit">Go</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="text-center mg-t-auto font-weight-bold">#TrainingTrackersekarang</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });

        $(document).ready(function () {

            $('#pageSearch').select2({
                width: '100%',
                placeholder: 'Find'
            });
            //adding placeholder on the select search
            $('#pageSearch').one('select2:open', function (e) {
                $('input.select2-search__field').prop('placeholder', 'page');
            });

        });

        // Function to format number as Rupiah
		function formatRupiah(value) {
			const formatter = new Intl.NumberFormat('id-ID', {
				style: 'currency',
				currency: 'IDR',
				minimumFractionDigits: 2
			});
			return formatter.format(value);
		}

		// Assuming user_rec.balance is passed from server to client-side as a JavaScript variable
		const userBalance = {{ user_rec.balance }};
		
		// Update the balance element with formatted value
		document.getElementById('balance').textContent = formatRupiah(userBalance);


 
    </script>

</body>
{% endautoescape %}

</html>