<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>TrainingTracker ADMIN - Konfigurasi</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <link href="../../static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/trainingtracker-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'CONFIGURATION' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <div class="content-header">
            <h5 class="mg-b-0 text-primary">
                <a href="/user/config">Konfigurasi</a> 
                <span style="font-weight: bolder;">
                    <i class="fas fa-caret-right"> Konfigurasi Menu Permission</i> 
                </span>
            </h5>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <div class="p-3 d-flex flex-column">
                        <span class="font-weight-bold">{{ username | safe }}</span>                        
                        <a class="" href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                                    data-feather="log-out"></i><span>Logout</span></a>
                    </div>                                            
                    <h3 class="p-3 mt-2 font-weight-bold"><a href="/user/config"><i class="fas fa-cog"></i></a></h>
                </div>
            </div>
        </div>

        <div class="contents-body">
            
            <form action="/configuration/config_menu_permission/add" method="POST" >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">


                <fieldset class="form-fieldset pd-x-50 field-shadow">
                    <legend>
                        <h1 class="font-weight-bold">Add <span class="text-success">Menu Permission</span></h1>
                    </legend>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Role Position</label>
                        <div class="col-sm-8">
                            <select id="role_position" class="form-control" name="role_position_value" required>
                                <option value="" disabled selected hidden>Select your option</option>
                                {% for role_position_item in role_position_list %}
                                    <option value="{{ role_position_item.misc }}">{{ role_position_item.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Menu</label>
                        <div class="col-sm-8">
                            <select id="menu" class="form-control" name="menu_value" required>
                                <option value="" disabled selected hidden>Select your option</option>
                                {% for menu_item in menu_list %}
                                    <option value="{{ menu_item.value }}">{{ menu_item.menu_name }}</option>
                                {% endfor %}
                    
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Deskripsi</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="desc" cols="30" rows="3"
                                placeholder="Deskripsi . . . ."></textarea>
                        </div>
                    </div>
                    
                    <div class="mg-y-30 text-center">
                        <button class="btn btn-primary pd-x-100 shadow-custom">Add</button>
                    </div>

                </fieldset>
            </form>


            <div style="padding-top: 80px;">
                <h1 class="font-weight-bold">Menu <span class="text-success">Permission List</span></h1>
            
                <table class="config-table table-bordered table table-striped" id="dataTable">
                    <thead class="thead-primary">
                        <tr>
                            <th>Role Position</th>
                            <th>Menu</th>
                            <th>Description</th>
                            <th>Options</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        {% for menu_permission_item in menu_permission_list %}
                        <tr>
                            <td>{{menu_permission_item.role_position_value}}</td>
                            <td>{{menu_permission_item.menu_value}}</td>
                            <td>{{menu_permission_item.desc}}</td>
                            <td style="width: 20%;">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal"
                                            data-target="#menu-edit-{{ menu_permission_item.pkey }}"><span
                                                data-feather="edit"></span>
                                            Edit</a>
                                        <a class="dropdown-item" href="#"
                                            onclick="$('form#delete-{{ menu_permission_item.pkey }}>button').click();"><span
                                                data-feather="trash"></span> Delete</a>
                                        <form id="delete-{{ menu_permission_item.pkey }}"
                                            action="/configuration/config_menu_permission/delete" method="POST"
                                            onsubmit="return confirm('Are you sure you want to delete ?');">
                                            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                                            <input type="hidden" value="{{ menu_permission_item.pkey }}"
                                                name="fk_menu_permission_id">
                                            <button style="display:none" type="submit"></button>
                                        </form>
            
                                    </div>
                                </div>
                            </td>
                        </tr>
            
            
            
                        <!-- MODAL -->
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                            aria-hidden="true" id="menu-edit-{{ menu_permission_item.pkey }}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Edit Menu</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
            
                                    <div class="modal-body">
                                        <form method="POST" action="/configuration/config_menu_permission/update"
                                            id="edit-menu-form-{{ menu_permission_item.pkey }}">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                            <input type="hidden" name="fk_menu_permission_id"
                                                value="{{ menu_permission_item.pkey }}">

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label text-right">Role Position</label>
                                                <div class="col-sm-10">
                                                    <select id="role_position" class="form-control" name="role_position_value" required>
                                                        <option value="" disabled selected hidden>Select your option</option>
                                                        {% for role_position_item in role_position_list %}
                                                            {% if menu_permission_item.role_position_value == role_position_item.misc %}
                                                                <option value="{{ role_position_item.misc }}" selected>{{ role_position_item.name }}</option>
                                                            {% else %}
                                                                <option value="{{ role_position_item.misc }}">{{ role_position_item.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                            
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label text-right">Menu</label>
                                                <div class="col-sm-10">
                                                    <select id="menu" class="form-control" name="menu_value" required>
                                                        <option value="" disabled selected hidden>Select your option</option>
                                                        {% for menu_item in menu_list %}
                                                            {% if menu_item.value == menu_permission_item.menu_value %}
                                                                <option value="{{ menu_item.value }}" selected>{{ menu_item.menu_name }}</option>
                                                            {% else %}
                                                                <option value="{{ menu_item.value }}">{{ menu_item.menu_name }}</option>    
                                                            {% endif %}
                                                        {% endfor %}
                                            
                                                    </select>
                                                </div>
                                            </div>

            
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="desc" cols="30" rows="3" placeholder="Deskripsi . . . .">{{menu_permission_item.desc}}</textarea>
                                                </div>
                                            </div>
            
                                        </form>
                                    </div>
            
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary"
                                            form="edit-menu-form-{{ menu_permission_item.pkey }}">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF MODAL -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>





            <footer class="text-center mg-t-auto font-weight-bold">#TrainingTrackersekarang</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });


        $(document).ready(function () {

            const lists = [
                {
                    id: 'role_position',
                    placeholder: '- Role Position -'
                },
                {
                    id: 'menu',
                    placeholder: '- Menu -'
                }
            ];


            lists.forEach(list => {
                $(`#${list.id}`).select2({
                    width: '100%',
                    placeholder: list.placeholder
                })
                $(`#${list.id}`).one('select2:open', function (e) {
                    $('input.select2-search__field').prop('placeholder', 'Search');
                });
            });

            $("#dataTable").DataTable({
                "aaSorting": []
            })

        });

    </script>
</body>

</html>