<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>AdventMatch ADMIN - Tambah Konten</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/AdventMatch-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                    {%if menu_item.value == 'CONFIGURATION' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <div class="content-header">
            <h5 class="mg-b-0 text-primary">
                <a href="/user/config">Konfigurasi</a> 
                <span style="font-weight: bolder;">
                    <i class="fas fa-caret-right"> Starter Button</i> 
                </span>
            </h5>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <div class="p-3 d-flex flex-column">
                        <span class="font-weight-bold">{{ username | safe }}</span>                        
                        <a class="" href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                                    data-feather="log-out"></i><span>Logout</span></a>
                    </div>                                            
                    <h3 class="p-3 mt-2 font-weight-bold"><a href="/user/config"><i class="fas fa-cog"></i></a></h>
                </div>
            </div>
        </div>
        <div class="contents-body">
            <form action="/configuration/config_starter/add" method="POST" class="mg-b-100">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <fieldset class="form-fieldset">
                    <legend>
                        <h1 class="font-weight-bold">Add <span class="text-success">Starter Button</span></h1>
                    </legend>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Menu</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="menu_value">
                                {% for menu_item in menu_list %}
                                    <option value="{{ menu_item.value }}">{{ menu_item.menu_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Button Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Value</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="value">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Icon Class</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="icon_class">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">URL</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="url">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Position</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="position">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="desc" cols="30" rows="10"></textarea>
                        </div>
                    </div>

    

                    <button class="mg-t-50 btn btn-primary btn-block font-weight-bold">Add Starter Button</button>
                </fieldset>
            </form>

            <div class="contents-body">
                <div class="mg-b-100">
                    <div class="mg-t-60">
                        <h1 class="font-weight-bold mg-b-30">Starter Button <span class="text-success">List</span></h1>
                        <div class="Ovy(a)--sm">
                            <table class="table table-striped" id="dataTable">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>Menu</th>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Icon Class</th>
                                        <th>URL</th>
                                        <th>Position</th>
                                        <th>Descriptions</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for starter_item in starter_button_list %}
                                        <tr>
                                            <td>{{starter_item.menu_value}}</td>
                                            <td>{{starter_item.name}}</td>
                                            <td>{{starter_item.value}}</td>
                                            <td>{{starter_item.icon_class}}</td>
                                            <td>{{starter_item.url}}</td>
                                            <td>{{starter_item.position}}</td>
                                            <td>{{starter_item.desc}}</td>
                                            <td style="width: 20%;">
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#menu-edit-{{ starter_item.pkey }}"><span
                                                                data-feather="edit"></span> Edit</a>
                                                        <a class="dropdown-item" href="#" onclick="$('form#delete-{{ starter_item.pkey }}>button').click();"><span
                                                                data-feather="trash"></span> Delete</a>
                                                        <form id="delete-{{ starter_item.pkey }}" action="/configuration/config_starter/delete" method="POST"
                                                            onsubmit="return confirm('Are you sure you want to delete {{ starter_item.name }} ?');">
                                                            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                                                            <input type="hidden" value="{{ starter_item.pkey }}" name="fk_starter_id">
                                                            <button style="display:none" type="submit"></button>
                                                        </form>
                                            
                                                    </div>
                                                </div>
                                            </td>
                                            </tr>
                                            
                                            
                                            <!-- MODAL -->
                                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                                aria-hidden="true" id="menu-edit-{{ starter_item.pkey }}">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="exampleModalLabel">Edit Menu</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                            
                                                        <div class="modal-body">
                                                            <form method="POST" action="/configuration/config_starter/update"
                                                                id="edit-starter-form-{{ starter_item.pkey }}">
                                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                                                <input type="hidden" name="fk_starter_id" value="{{ starter_item.pkey }}">

                                                                <div class="form-group row">
                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Menu</label>
                                                                    <div class="col-sm-10">
                                                                        <select class="form-control" name="menu_value">
                                                                            {% for menu_item in menu_list %}
                                                                                {% if menu_item.value == starter_item.menu_value %}
                                                                                    <option value="{{ menu_item.value }}" selected>{{ menu_item.menu_name }}</option>
                                                                                {% else %}
                                                                                    <option value="{{ menu_item.value }}">{{ menu_item.menu_name }}</option>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>

                                            
                                                                <div class="form-group row">
                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="name"
                                                                            value="{{ starter_item.name }}">
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="form-group row">
                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Value</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="value" value="{{starter_item.value}}">
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="form-group row">
                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Icon Class</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="icon_class"
                                                                            value="{{starter_item.icon_class}}">
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="form-group row">
                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">URL</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="url" value="{{starter_item.url}}">
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="form-group row">
                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Position</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="position" value="{{starter_item.position}}">
                                                                    </div>
                                                                </div>
                                            
                                                                <div class="form-group row">
                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="desc" value="{{starter_item.desc}}">
                                                                    </div>
                                                                </div>
                                            
                                                            </form>
                                                        </div>
                                            
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary"
                                                                form="edit-starter-form-{{ starter_item.pkey }}">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END OF MODAL -->
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            <footer class="text-center mg-t-auto font-weight-bold">#AdventMatchsekarang</footer>
        </div>

    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script>

        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });
        
        $(document).ready(function () {

                $("#dataTable").DataTable({
                    "aaSorting": [],

                    language: {
                        searchPlaceholder: 'Search...',
                        sSearch: ''
                    },
                    dom:
                        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'<'d-flex justify-content-end'f <'#searchBtnContainer'>> > >" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7 d-flex align-items-center justify-content-end'<'page-text'> p>>",
                    ordering: false
                });

                $("<button/>")
                    .addClass("btn pd-y-5 btn-primary search-btn")
                    .text("Search")
                    .appendTo("#searchBtnContainer");
            });


    </script>
</body>

</html>