<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>comes.id - Konfigurasi</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../../static/lib/flatpicker/flatpickr.min.css" rel="stylesheet">
    <link href="../../static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img class=" w-75" src="../../static/assets/img/AdventMatch_logo.png"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}
                <li class="nav-item">
                    <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                        <span>{{menu_item.menu_name}}</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <div class="content-header">
            <h4 class="mg-b-0 text-primary">Konfigurasi</h4>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <span class="mg-l-5 mg-r-30 font-weight-bold">{{ username | safe }}</span>
                    <a href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                            data-feather="log-out"></i><span>Logout</span></a>
                </div>
            </div>
        </div>

        <div class="contents-body">

            <form action="/configuration/terms_and_conditions/edit" method="POST">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="fk_tnc_id" value="{{ tnc_rec.pkey }}">


                <fieldset class="form-fieldset pd-x-50 field-shadow">
                    <legend>
                        <h1 class="font-weight-bold">Terms and Conditions<span class="text-success"></span></h1>
                    </legend>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" value="{{ tnc_rec.name }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Terms and Conditions</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="terms_and_conditions" id="terms_and_conditions" cols="30" rows="3"
                                placeholder="Terms and Conditions . . . .">{{ tnc_rec.terms_and_conditions_html | safe }}</textarea>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Misc</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="misc" value="{{ tnc_rec.misc }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Kategori</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="kategori" value="{{ tnc_rec.kategori }}">
                        </div>
                    </div>
                    

                    <div class="mg-y-30 text-center">
                        <button class="btn btn-primary pd-x-100 shadow-custom">Update Terms and Conditions</button>
                    </div>

                </fieldset>
            </form>



            <footer class="text-center mg-t-auto font-weight-bold">#AdventMatchsekarang</footer>
        </div>
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/lib/select2/js/select2.min.js"></script>
    <script src="../../static/lib/flatpicker/flatpickr.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script src="../../static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../static/js/pytavia-js/custom/ckeditor/ckeditor.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });


        $(document).ready(function () {
            CKEDITOR.replace( 'terms_and_conditions', { customConfig : 'config_toolbar_mnc_cs.js' } );

        });

    </script>
</body>
{% endautoescape %}

</html>