<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Blipcom</title>


                <!-- Bootstrap -->
                <link href="/static/css/bootstrap.min.css" rel="stylesheet">

                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
                <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800" rel="stylesheet">

                <link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">

                <!-- styles -->
                <link href="/static/css/style.css" rel="stylesheet">


	</head>
	
	<body>
	
		<!-- Header -->
		<header>
			<div class="container">
				
				<div class="xs-menu-cont">
					<a id="menutoggle">
						<i class="fa fa-align-justify"></i> 
					</a>
					<nav class="xs-menu displaynone">
						<ul>
							<li class="active">
								BLIPCOM
							</li>
							<li>
								<a href="#">Services</a>
							</li>
							<li>
								<a href="#">Resource Groups</a>
							</li>
							<li>
								<a href="#">Icon</a>
							</li>
							<li>
								<a href="#">Icon</a>
							</li>
							<li>
								<a href="#">Sidnei Budiman</a>
							</li>
						</ul>
					</nav>
				</div>
				
				<nav class="menu">
					<ul>
						<li class="active li-active-logo">
							<a href="index.html" class="active-top-logo">
								BLIPC<span class="color-yellow">O</span>M
							</a>
						</li>
						<li class="drop-down">
							<a href="#">Services</a>
							<div class="mega-menu fadeIn animated">
								<div class="mm-3column">
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Computer</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; EC2</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Lightsail</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; ECS</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; EKS</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Lambda</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Batch</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Elastic Beanstalk</li>
										</ul>
									</span>	
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Storage</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; S3</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; EFS</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Glacier</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Storage Gateway</li>
										</ul>
									</span>	
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Database</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; RDS</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; DynamoDB</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; ElastiCache</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Neptune</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Amazon Redshift</li>
										</ul>
									</span>	
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Migration</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; AWS Migration Hub</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Application Discovery Service</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Database Migration Service</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Server Migration Service</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Snowball</li>
										</ul>
									</span>	
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Networking & Content Delivery</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; VPC</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; CloudFront</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Route 53</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; API Gateway</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Direct Connect</li>
										</ul>
									</span>	
								</div>
								<div class="mm-3column">
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Developer Tools</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; CodeStar</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; CodeCommit</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; CodeBuild</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; CodeDeploy</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; CodePipeline</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Cloud9</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; X-Ray</li>
										</ul>
									</span>							
								</div>
								<div class="mm-3column">
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Analytics</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Athena</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; EMR</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; CloudSearch</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Elasticsearch Service</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Kinesis</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; QuickSight</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Data Pipeline</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; AWS Glue</li>
										</ul>
									</span>							
								</div>
								<div class="mm-3column">
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Customer Engagement</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Amazon Connect</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Pinpoint</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Simple Email Service</li>
										</ul>
									</span>
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Business Productivity</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Alexa for Business</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Amazon Chime</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; WorkDocs</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; WorkMail</li>
										</ul>
									</span>
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Desktop & App Streaming</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; WorkSpaces</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; AppStream 2.0</li>
										</ul>
									</span>
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Internet of Things</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; IoT Core</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; IoT 1-Click</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; IoT Device Management</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; IoT Analytics</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Greengrass</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Amazon FreeRTOS</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; IoT Device Defender</li>
										</ul>
									</span>
									<span class="categories-list">
										<ul>
											<li class="title-text-menu-mega">Game Development</li>
											<li><i class="glyphicon glyphicon-arrow-right"></i> &nbsp; Amazon GameLift</li>
										</ul>
									</span>
								</div>
							</div>
						</li>
						<li>
							<a href="#">Resource Groups</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-pushpin"></i></a>
						</li>
						<li style="float:right;">
							<a href="#">Sidnei Budiman</a>
						</li>
						<li class="link-icon-menu-header" style="float:right;">
							<a href="#"><i class="glyphicon glyphicon-bell"></i></a>
						</li>
					</ul>
				</nav>
				
			</div>
		</header>
		<!-- /Header -->
		
		<!-- Header -->
		<div class="bottom-header">
			<div class="container">
				<p class="text-bottom-header-left">
					Stream Video to AWS for Analytics—Easily capture, process, and store video streams 
					for analytics and machine learning. 
					<a href="#" class="link-text-bottom-header">Learn More »</a>
				</p>
				<p class="text-bottom-header-right">
					<a href="#" class="link-text-bottom-header">Documentation</a>
				</p>
			</div>
		</div>
		
		<!-- Content -->
		<div class="page-content-blipcom">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="top-text-page-content-blipcom-left">
							BLIPC<span class="color-yellow">O</span>M &nbsp; | &nbsp; studentjob-backup &nbsp; | &nbsp; files-blog
						</div>
						<div class="top-text-page-content-blipcom-right">
							<a href="#"><i class="glyphicon glyphicon-facetime-video"></i>&nbsp; Discover the new console</a>
							 &nbsp; &nbsp; 
							<a href="#"><i class="glyphicon glyphicon-list-alt"></i>&nbsp; Quick Tips</a>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-block">
								
								<div class="nav-tab-column">
									<ul class="nav nav-tabs nav-tabs-dealoka-point-reward ">
										<li class="active">
											<a data-toggle="tab" href="#overview">Overview</a>
										</li>
									</ul>
									<div class="tab-content">
										
										<div id="overview" class="tab-pane fade in active">
											<div class="form-group">
												<div class="input-group">
													<input type="text" class="form-control input-text-search-table-bucket-blipcom" id="" placeholder="Type a prefix and press Enter to search. Press ESC to clear.">
													<div class="input-group-addon input-text-search-table-bucket-blipcom">
														<button type="submit" class="btn-search-table-bucket-blipcom"><i class="fa fa-search"></i></button>
													</div>
												</div>
											</div>
											<div class="column-bottom-search">
												<div class="form-group float-left">
													<button type="button" class="btn btn-primary btn-top-table-bucket-blipcom">
														<i class="glyphicon glyphicon-open"></i> &nbsp; Upload
													</button>
													<button type="button" class="btn btn-primary btn-top-table-bucket-blipcom">
														<i class="glyphicon glyphicon-plus"></i> &nbsp; Create folder
													</button>
													<!-- Single button -->
													<div class="btn-group btn-action-dealoka-point-reward">
														<button type="button" class="btn btn-default dropdown-toggle btn-top-table-bucket-blipcom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															Action <span class="caret"></span>
														</button>
														<ul class="dropdown-menu">
															<li><a href="#">Action</a></li>
															<li><a href="#">Another action</a></li>
															<li><a href="#">Something else here</a></li>
														</ul>
													</div>
												</div>
												<div class="form-group float-right">
													<label class="text-top-table-bucket-blipcom-1">
														US East (N. Virginia)
													</label> &nbsp;  &nbsp;  
													<button type="button" class="btn btn-warning btn-top-table-bucket-blipcom">
														<i class="glyphicon glyphicon-refresh"></i>
													</button>
												</div>
											</div>
											
											<table id="table-files-blog" class="display datatable table table-stripped" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th><input type="checkbox"></th>
														<th>Name</th>
														<th>Last Modified</th>
														<th>Size</th>
														<th>Storage Class</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<input type="checkbox">
														</td>
														<td>
															<a href="#">
																<i class="glyphicon glyphicon-file"></i> &nbsp; studentjob_production_files.1533286741.tar.gz
															</a>
														</td>
														<td>
															Aug 3, 2018 4:03:41 PM <br />
															GMT +0700
														</td>
														<td>
															720.8 MB
														</td>
														<td>
															Standard
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- /Content -->
		
		<!-- Footer -->
		<!-- <footer>
			<div class="container">
				<p class="text-footer-float-left">
					Copyright &copy; 2018 PT BLIPC<span class="color-yellow">O</span>M
				</p>
				<p class="text-footer-float-right">
					<a href="#">Privacy & Police</a> &nbsp; | &nbsp; 
					<a href="#">Term & Condition</a> &nbsp; | &nbsp; 
					<a href="#">Contact Us</a>
				</p>
			</div>
		</footer> -->
		<!-- /Footer -->
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="/static/js/pytavia-js/custom/bootstrap.min.js"></script>

                <script  src="/static/js/pytavia-js/index.js"></script>

                <script type="text/javascript">
                        $(document).ready(function(){
                                $("#table-dealoka-point-reward").DataTable();
                        });
                </script>

                <script type="text/javascript" src="/static/js/pytavia-js/jquery.dataTables.min.js"></script>
                <script type="text/javascript" src="/static/js/pytavia-js/pages_datatables.min.js"></script>
		
	</body>
	
</html>
