<html>
<head>
        <style>
        body {background: #CC0F1C;}
        img {width:100%;max-width: 200px;}
        p {color:#fff;font-size: 14px;font-family: arial;}
        a {color: #fff;font-family: arial;}
        </style>
</head>
        <body align="center">
                <div align="center" style="padding:50px">
                        <!-- <img src="/static/images/default/login/logo.png"/> <br> -->
                        <font size="3">
                                <p>Maaf, Halaman yang Anda tuju tidak ditemukan. Silahkan hubungi Kontak Support</p><br>
                                        <a href="#">support@blipcom.co.id</a>
                        </font>
                </div>
        </body
</html>
~

