<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favico -->
    <link rel="shortcut icon" href="../../static//assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/favicon.png" type="image/x-icon">
    <title>TrainingTracker</title>
    <!-- vendor css -->
    <link href="../../static/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../static/assets/css/dashforge.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    <!-- some additional css here -->
</head>

{% autoescape false %}
<body>
    <div class="loader">
        <img src="../../static/assets/img/Pulse-1s-200px.gif" alt="loader">
    </div>
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="#" class="aside-logo img-logo"><img src="../../static/assets/img/trainingtracker-logo-white.png" class="w-75"></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <ul class="nav nav-aside">
                {% for menu_item in menu_list_html %}  
                    <!-- khusus operasional -->
                    {% if current_menu.value in ['OPERASIONAL_TrainingTracker','OPERASIONAL_FEEDER','OPERASIONAL_TrainingTracker_V2']%}    
                        {% if menu_item.value == 'OPERASIONAL' %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                        {% endif %}                      
                    {% endif %}   
                    <!--end khusus operasional -->
                    {%if menu_item.value == current_menu.value %}
                        <li class="nav-item nav-item-active ">
                            <a href="{{menu_item.url}}" class="nav-link nav-link-active"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>                                          
                    {% else %}
                        <li class="nav-item">
                            <a href="{{menu_item.url}}" class="nav-link"><i data-feather="{{ menu_item.icon_class }}"></i>
                                <span>{{menu_item.menu_name.title()}}</span></a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </aside>

    <div class="content pd-0">
        <!-- khusus operasional -->
        {% if current_menu.value in ['OPERASIONAL_TrainingTracker','OPERASIONAL_FEEDER','OPERASIONAL_TrainingTracker_V2']%}    
        <div class="content-header">
            <h5 class="mg-b-0 text-primary">
                <a href="/starter?menu_value=OPERASIONAL">Operasional</a> 
                <span style="font-weight: bolder;">
                    <i class="fas fa-caret-right"></i> {{current_menu.menu_name.title()}}
            </h5>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <div class="p-3 d-flex flex-column">
                        <span class="font-weight-bold">{{ username | safe }}</span>                        
                        <a class="" href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                                    data-feather="log-out"></i><span>Logout</span></a>
                    </div>                                            
                    <h3 class="p-3 mt-2 font-weight-bold"><a href="/user/config"><i class="fas fa-cog"></i></a></h>
                </div>
            </div>
        </div>
         <!--end khusus operasional -->
        {% else %}
        <!-- <div class="content-header">
            <h5 class="mg-b-0 text-primary"><a href="/starter?menu_value={{current_menu.value}}">{{current_menu.menu_name.title()}}</a> </h5>
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm avatar-online"><img src="../../static/assets/img/placehold.jpg"
                            class="rounded-circle" alt=""></div>
                    <div class="p-3 d-flex flex-column">
                        <span class="font-weight-bold">{{ username | safe }}</span>                        
                        <a class="" href="/auth/logout" data-toggle="tooltip" title="Sign out"><i
                                    data-feather="log-out"></i><span>Logout</span></a>
                    </div>                                            
                    <h3 class="p-3 mt-2 font-weight-bold"><a href="/user/config"><i class="fas fa-cog"></i></a></h>
                </div>
            </div>
        </div> -->
         <!-- Navbar Top -->
		<div class="content-header">            
            <div></div>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">			
                    <div class="text-success font-weight-bold mr-3" id="balance"></div>
                </div>
                <div class="dropdown">
                <span class="font-weight-bold text-dark">{{ username | safe }}</span>
                <a class="dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% if user_rec.role == 'TRAINEE' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-user-graduate"></i> You're in Trainee Portal
                    </div>
                    {% elif user_rec.role == 'TRAINER' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> You're in Trainer Portal
                    </div>
                    {% elif user_rec.role == 'ADMIN' %}
                    <div class="dropdown-item text-info">
                    <i class="fas fa-chalkboard"></i> WELCOME BOSS
                    </div>				
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Profile</a>
                    {% if user_rec.register_teacher == 'FALSE' %}
                    <a class="dropdown-item" href="/profile"><i class="fas fa-chalkboard-teacher"></i> Become a Trainer</a>
                    {% endif %}
                    {% if user_rec.role == 'TRAINEE' and user_rec.register_teacher == 'TRUE' %}
                    <a class="dropdown-item" href="/profile/change_portal/trainer"><i class="fas fa-chalkboard"></i> Trainer Portal</a>
                    {% endif %}
                    {% if user_rec.role == 'TRAINER' %}
                    <a class="dropdown-item" href="/profile/change_portal/trainee"><i class="fas fa-user-graduate"></i> Trainee Portal</a>
                    {% endif %}
                    <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="contents-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb align-items-center">                
                <li class="breadcrumb-item active" aria-current="page">{{current_menu.menu_name.title()}}</li>
                </ol>
            </nav>
            <div class="mg-b-100 d-flex flex-wrap">
                {% for starter_item in starter_button_list %}
                    <a href="{{ starter_item.url }}" >
                    <div class="starter mg-r-8 mg-t-8">
                        <i class="{{ starter_item.icon_class }}"></i>
                        <span>{{ starter_item.name }}</span>
                    </div>
                    </a>
                {% endfor %}                
                {% if starter_button_list[0]['menu_value'] == 'OPERASIONAL' %}
                <a href="/trainingtracker/update_gapeka_status" >
                    <div class="starter mg-r-8 mg-t-8">
                        {% if gapeka_api_status == 'on' %}
                        <i data-feather="cloud"></i>  
                            <div class="mt-3 d-flex justify-content-between"><i data-feather="check-circle" class="mr-2"></i> API GAPEKA ON</div>                                                                         
                        </div>
                        {% else %}
                        <i data-feather="cloud-off"></i>
                            <div class="mt-3 d-flex justify-content-between"><i data-feather="circle" class="mr-2"></i> API GAPEKA OFF</div>
                        </div>
                        {% endif %}                                  
                    </div>
                </a>
                {% endif %}
                
            </div>
            <footer class="text-center mg-t-auto font-weight-bold">#TrainingTrackersekarang</footer>
        </div>
       
    </div>

    <script src="../../static/lib/jquery/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/feather-icons/feather.min.js"></script>
    <script src="../../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/assets/js/dashforge.js"></script>
    <script src="../../static/assets/js/dashforge.aside.js"></script>
    <script>
        window.addEventListener('load', () => {
            const loader = document.querySelector('.loader');
            loader.classList.add('hidden');
        });

        // Function to format number as Rupiah
		function formatRupiah(value) {
			const formatter = new Intl.NumberFormat('id-ID', {
				style: 'currency',
				currency: 'IDR',
				minimumFractionDigits: 2
			});
			return formatter.format(value);
		}

		// Assuming user_rec.balance is passed from server to client-side as a JavaScript variable
		const userBalance = {{ user_rec.balance }};
		
		// Update the balance element with formatted value
		document.getElementById('balance').textContent = formatRupiah(userBalance);
    </script>
</body>
{% endautoescape %}

</html>